* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container-full {
    min-height: 100vh;
    max-width: 100vw;
    background-color: #1e2d3b;
}

header {
    height: 70px;
    width: 100%;
    background-color: rgb(46, 58, 70);
}

.container {
    width: 1080px;
    display: flex;
    margin: 0 auto;
}

.container-header {
    display: flex;
    justify-content: space-between;
}

.container-select {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.selettore-genere {
    height: 100%;
    background-color: #1e2d3b;
    font-size: 16px;
    font-weight: 700;
    color: white;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 200px;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid white;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    border-radius: .5em;
}


#logo-spotify {
    height: 50px;
    margin: 10px 0;
}

.container-carte {
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 200px;
    height: 300px;
    background-color: rgb(46, 58, 70);
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #767879;
}

#titolo-album {
    color: white;
    margin-bottom: 20px;
}

#wallpaper-song{
    width: 180px;
    height: 140px;
    margin-bottom: 20px;
}
